*.o
demo1
demo2
demo3
test/t001
test/t002
test/t003
test/t004
test/t005
test/t006
test/t007
test/t008
test/t009
test/t010
test/t101
test/t102
test/t103
test/t104
test/t105
test/t107
test/t108
test/t109
test/t200
test/t201
test/t301
sse-test
debug
core
test/core
*.swp
